.ReactDocument-MenuTitle {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.ReactDocument-MenuList--open {
    display: flex;
}

.ReactDocument-MenuList--close {
    display: none;
}


.ReactDocument-MenuItem {
    text-decoration: none;
}

.ReactDocument-Menu {
    padding: 1rem 1.25rem;

}

.ReactDocument-MenuList {
    list-style: none;
    padding-left: 1.25rem;
    flex-direction: column;
}
